@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.top {
  position: relative;
  overflow: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.buttonColor {
  padding: 15px 40px;
  background-color: #fff;
  border: 1px solid #FF6A6A;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.buttonColor:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #fff;
}

.form {
  display: flex;
  width: 360px;
  height: 44px;
  padding: 0 15px;
  background-color: white;
  border: 1px solid #A4A4A4;
  transition: 0.2s ease-in-out;
  margin-top: 20px;
}
.form::-moz-placeholder {
  color: #222;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}
.form::placeholder {
  color: #222;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}
.form:hover, .form:focus {
  border: 1px solid #F16D7F;
}
.form:hover::-moz-placeholder, .form:focus::-moz-placeholder {
  color: #B1B1B1;
}
.form:hover::placeholder, .form:focus::placeholder {
  color: #B1B1B1;
}

.header {
  height: 75px;
  background: #222222;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 999;
}
.header a:focus svg path, .header a:hover svg path, .header a:active svg path {
  fill: #F16D7F;
}
.header_left {
  display: flex;
  align-items: flex-end;
  gap: 41px;
}
.header_right {
  display: flex;
  align-items: flex-end;
  background: #222222;
  gap: 30px;
  z-index: 999;
}
.header_link {
  display: flex;
  gap: 33px;
}

.menu {
  position: absolute;
  top: 75px;
  right: -232px;
  z-index: 1;
  width: 232px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;
  display: block;
  transition: 1s;
}
.menu_button:focus ~ .menu, .menu_button:active ~ .menu, .menu:hover {
  right: 0px;
}
.menu h3 {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}
.menu_hover {
  margin-top: 20px;
}
.menu_title {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.menu_title:hover {
  text-shadow: 0.5px 0 0.5px #F16D7F;
}

.list_menu {
  list-style-type: none;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 12px;
}
.list_menu a {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.list_menu a:hover {
  color: #F16D7F;
}

.home {
  display: flex;
  align-items: center;
  background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  gap: 63px;
  height: 100%;
}
.home_img, .home_content {
  width: 50%;
}
.home_img img {
  max-height: 764px;
}
.home_content {
  display: flex;
  align-items: center;
}
.home_info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
.home_title {
  color: #222;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
}
.home_title_h2 {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.home_title_h2 span {
  color: #F16D7F;
}

.offer {
  margin-top: 65px;
  margin-bottom: 96px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.offer_item {
  position: relative;
  max-height: 260px;
}
.offer_big {
  grid-column: span 3;
  max-height: 180px;
}
.offer_item:hover .mask {
  display: none;
}
.offer_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.offer_href {
  padding: 5px 10px;
  border: 1px solid transparent;
}
.offer_href:hover {
  border: #F16D7F;
  background-color: #F16D7F;
}
.offer_href:hover h1 {
  color: #FFF;
}
.offer_text {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.offer_title_h3 {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(33, 22, 22, 0.7);
}

.products {
  padding-bottom: 60px;
}
.products_title_h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}
.products_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
}
.products_content {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
}
.products_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.product:hover .product_img img {
  filter: brightness(0.3);
}
.product:hover .product_add {
  display: flex;
}
.product_img {
  position: relative;
}
.product_img img {
  width: 100%;
}
.product_add {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
}
.product_add:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
}
.product_content {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}
.product_heading {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.product_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.product_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.product_button {
  padding: 15px 40px;
  background-color: #fff;
  border: 1px solid #FF6A6A;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.product_button:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #fff;
}

.underside {
  background-color: #222222;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.underside_item {
  width: 360px;
  display: grid;
  grid-template-rows: 43px 1fr auto;
  align-items: start;
  justify-items: center;
  gap: 16px;
}
.underside_title {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.underside_text {
  color: #FBFBFB;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.subscribe {
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(img/form.png);
  min-height: 448px;
  background-position: 0 30%;
  background-size: cover;
}
.subscribe_content {
  padding-top: 97px;
  padding-bottom: 126px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.subscribe_info {
  max-width: 359px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
.subscribe_img {
  width: 100%;
  height: 96px;
  -o-object-position: center -5px;
     object-position: center -5px;
}
.subscribe_img img {
  -webkit-clip-path: circle(48px at 50% 50%);
          clip-path: circle(48px at 50% 50%);
  -o-object-fit: none;
     object-fit: none;
}
.subscribe_info p {
  display: block;
  height: 99px;
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.subscribe_info p span {
  font-style: italic;
}
.subscribe_form {
  width: 557px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.subscribe_form_info h1 {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%;
}
.subscribe_form_info p {
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  text-align: center;
}
.subscribe_form_input {
  position: relative;
  justify-content: center;
}
.subscribe_input {
  display: block;
  width: 356px;
  height: 49px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #F16D7F;
  padding-left: 20px;
  padding-right: 105px;
  background-color: #E1E1E1;
  border: 1px solid #E1E1E1;
  border-radius: 2rem;
  transition: 0.2s ease-in-out;
}
.subscribe_input::-moz-placeholder {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6710000038;
}
.subscribe_input::placeholder {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6710000038;
}
.subscribe_input:hover {
  border: 1px solid #F16D7F;
}
.subscribe_input:focus::-moz-placeholder {
  opacity: 100%;
  color: #F16D7F;
}
.subscribe_input:focus::placeholder {
  opacity: 100%;
  color: #F16D7F;
}
.subscribe_input:focus {
  border: 1px solid #F16D7F;
}
.subscribe_button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 49px;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
  background-color: #F16D7F;
  border: 1px solid #FF6A6A;
  border-radius: 0 2rem 2rem 0;
  transition: 0.2s ease-in-out;
}
.subscribe_button:hover, .subscribe_button:active {
  border: 1px solid #F16D7F;
  text-shadow: 0.5px 0 0.5px #FFF;
}

.footer {
  background-color: #222224;
  padding-top: 24px;
  padding-bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_content {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_icon {
  display: grid;
  grid-template-columns: repeat(4, 32px);
  gap: 7px;
}
.footer_link {
  height: 32px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_link:hover {
  background: #F16D7F;
}
.footer_link:hover svg path {
  fill: #fff;
}

@media (max-width: 1024px) {
  /* Стили для планшета */
  .center {
    padding: 0 3%;
  }
  .header {
    height: 74px;
  }
  .header_right {
    gap: 25px;
  }
  .header_link {
    gap: 25px;
  }
  .menu {
    top: 74px;
    right: -180px;
    width: 180px;
    padding: 15px 20px;
  }
  .menu_hover {
    margin-top: 10px;
  }
  .list_menu {
    gap: 6px;
    margin-top: 6px;
  }
  .home {
    min-height: 368px;
    gap: 39px;
  }
  .home_img img {
    min-height: 368px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home_title {
    font-size: 44px;
  }
  .home_title_h2 {
    font-size: 24px;
  }
  .offer {
    margin-bottom: 110px;
    gap: 19px;
  }
  .offer_href {
    padding: 2px 5px;
  }
  .products {
    padding-bottom: 70px;
  }
  .products_content {
    margin-top: 74px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .products_button {
    margin-top: 40px;
  }
  .underside {
    padding-top: 46px;
    padding-bottom: 64px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .subscribe {
    background-position: 30% 0;
    background-size: auto;
  }
  .subscribe_content {
    padding-top: 64px;
    padding-bottom: 140px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .subscribe_form {
    gap: 27px;
  }
  .footer {
    padding-top: 24px;
    padding-bottom: 23px;
  }
}
@media (max-width: 767px) {
  /* Стили для смартфона */
  .header_link {
    display: none;
  }
  .home {
    padding: 0 3%;
  }
  .home_img {
    display: none;
  }
  .home_content {
    width: 100%;
    justify-content: center;
  }
  .home_title {
    font-size: 38px;
  }
  .home_title_h2 {
    font-size: 20px;
  }
  .offer {
    margin-top: 64px;
    margin-bottom: 64px;
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .offer_item {
    max-width: 360px;
  }
  .offer_href {
    padding: 5px 10px;
  }
  .offer_big {
    grid-column: span 1;
  }
  .offer_big img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 111px;
  }
  .products {
    padding-bottom: 85px;
  }
  .products_content {
    margin-top: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .product {
    max-width: 360px;
  }
  .underside {
    padding-bottom: 81px;
    gap: 46px;
  }
  .subscribe {
    background-position: 25% 0;
    background-size: auto;
  }
  .subscribe_content {
    padding-bottom: 110px;
    gap: 59px;
  }
  .subscribe_info {
    gap: 29px;
  }
  .subscribe_form {
    gap: 22px;
  }
  .subscribe_info p {
    font-size: 18px;
    height: -moz-max-content;
    height: max-content;
  }
  .subscribe_form_info p {
    font-size: 14px;
  }
  .subscribe_input {
    width: 341px;
    height: 47px;
  }
  .subscribe_button {
    width: 96px;
    height: 47px;
  }
  .footer {
    background-color: #222224;
    padding-top: 43px;
    padding-bottom: 9px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
}
.breadcrumb {
  height: 148px;
  background: #F8F3F4;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.breadcrumb_right {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.breadcrumb_title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
}
.breadcrumb_nav {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}
.breadcrumb_nav::after {
  content: "/";
  margin-left: 5px;
}
.breadcrumb_nav:last-child::after {
  content: none;
}
.breadcrumb_color {
  font-weight: 700;
  color: #F16D7F;
}

.slider {
  height: 777px;
  background: #F7F7F7;
  border: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slider_slide img {
  max-width: 100%;
  max-height: 724px;
}
.slider_left {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(42, 42, 42, 0.15);
}
.slider_left:hover svg path {
  fill: #F16D7F;
}
.slider_right {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(42, 42, 42, 0.15);
}
.slider_right:hover svg path {
  fill: #F16D7F;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  padding-top: 65px;
  padding-bottom: 65px;
  max-width: 1140px;
  margin: -65px auto 0;
  z-index: 1;
}
.description_subtitle {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 12px;
  position: relative;
}
.description_bold {
  background: #F16D7F;
  border: none;
  width: 63px;
  height: 3px;
  margin-bottom: 12px;
}
.description_title {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 50px;
}
.description_text {
  max-width: 550px;
  color: #6F6E6E;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 30px;
}
.description_price {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 65px;
}
.description_light {
  background: #EAEAEA;
  border: none;
  width: 640px;
  height: 1px;
  margin-bottom: 65px;
}
.description_details {
  display: flex;
  align-items: center;
  gap: 20px;
}
.description_sort {
  position: relative;
}
.description_sort[open] .description_list, .description_sort[open] path {
  color: #F16D7F;
  fill: #F16D7F;
}
.description_list {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.description_item {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  padding: 9px 9px 12px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  top: 22px;
  left: 0;
}
.description_placeholder {
  width: 100%;
  border: 1px solid #F16D7F;
  padding: 5px 7px;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.description_button {
  display: block;
  position: relative;
  margin-top: 50px;
}
.description_but {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px 40px;
  background-color: #fff;
  border: 1px solid #FF6A6A;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.description_but:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #fff;
}
.description_but:hover svg path {
  fill: #fff;
}

.number {
  display: inline-block;
  position: relative;
  width: 100%;
}
.number input[type=number] {
  display: block;
  height: 32px;
  line-height: 32px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.number input[type=number]::-webkit-outer-spin-button, .number input[type=number]::-webkit-inner-spin-button {
  display: none;
}
.number_minus {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  width: 20px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  border-right: 1px solid #ddd;
  font-size: 14px;
  font-weight: 700;
  color: #F16D7F;
}
.number_plus {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: 20px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  border-left: 1px solid #ddd;
  font-size: 14px;
  font-weight: 700;
  color: #F16D7F;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #F16D7F;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
  border-color: #FF6A6A;
  background-color: #F16D7F;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.product_site {
  margin-top: 130px;
  padding-bottom: 130px;
}

.filter-sort {
  height: 132px;
  position: relative;
  display: flex;
}

.filter {
  padding: 13px 16px 16px;
  width: 360px;
  box-sizing: border-box;
  position: absolute;
  top: 39px;
  z-index: 10;
}
.filter[open] {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
}
.filter[open] .filter_list, .filter[open] path {
  color: #F16D7F;
  fill: #F16D7F;
}
.filter_list {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}
.filter_item {
  margin-top: 16px;
}
.filter_item[open] .filter_heading {
  color: #F16D7F;
}
.filter_heading {
  padding: 8px 11px 11px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.filter_link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter_link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.filter_link:hover {
  color: #F16D7F;
}

.sort {
  display: flex;
  position: absolute;
  padding-left: 390px;
  top: 51px;
  gap: 30px;
  /* ==== Бегунок ==== */
}
.sort_sort {
  position: relative;
}
.sort_sort[open] .sort_list, .sort_sort[open] path {
  color: #F16D7F;
  fill: #F16D7F;
}
.sort_list {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.sort_item {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: calc(100% + 20px);
  padding: 9px 9px 12px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  top: 22px;
  left: 0;
}
.sort_item_big {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;
  width: 250px;
  padding: 9px 9px 12px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  top: 22px;
  left: 0;
}
.sort_item_big span {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.sort_item p {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.sort_input {
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  height: 20px;
  border: 1px solid #FF6A6A;
}
.sort_input::-webkit-slider-thumb {
  background: #F16D7F;
  cursor: pointer;
  width: 20px;
  height: 22px;
  -webkit-appearance: none;
  box-shadow: -200px 0 0 200px #EBEBEB;
}
.sort_input::-moz-range-thumb {
  background: #F16D7F;
  cursor: pointer;
  height: 20px;
  border-radius: 0px;
  box-shadow: -200px 0px 0px 200px #EBEBEB;
  padding: 0px;
  margin: 0px;
}

.catalog_site {
  margin-top: 0;
}

.rounded {
  height: 190px;
  display: flex;
  justify-content: center;
}
.rounded_content {
  margin-top: 50px;
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 16px;
  border: 1px solid #EBEBEB;
  gap: 17px;
}
.rounded_list {
  display: flex;
  align-items: center;
  gap: 17px;
  list-style-type: none;
}
.rounded_list a {
  color: #C4C4C4;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.rounded_list:hover svg path, .rounded_list a:hover, .rounded_list a:focus {
  fill: #F16D7F;
  color: #F16D7F;
}

.cart {
  padding-top: 100px;
  padding-bottom: 130px;
  display: flex;
  justify-content: space-between;
  gap: 3%;
}
.cart_right {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.cart_product {
  display: grid;
  grid-template-columns: 1fr 1fr 66px;
  gap: 30px;
  width: 650px;
  height: 306px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  position: relative;
}
.cart_product img {
  height: 100%;
}
.cart_product_content {
  margin-top: 22px;
  gap: 42px;
  display: flex;
  flex-direction: column;
}
.cart_product_content a {
  color: #222;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.cart_product_content ul {
  list-style-type: none;
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart_product_content li {
  margin-bottom: 5px;
}
.cart_product_content li:nth-child(1)::after {
  content: "$300";
  color: #F16D7F;
  margin-left: 5px;
}
.cart_product_content li:nth-child(2)::after {
  content: "Red";
  color: #6F6E6E;
  margin-left: 5px;
}
.cart_product_content li:nth-child(3)::after {
  content: "Xl";
  color: #6F6E6E;
  margin-left: 5px;
}
.cart_product_content li:nth-child(4) {
  display: flex;
  align-items: flex-end;
}
.cart_placeholder {
  border: 1px solid #EAEAEA;
  color: #656565;
  font-size: 18px;
  font-weight: 400;
}
.cart_placeholder::-moz-placeholder {
  color: #B1B1B1;
  font-size: 18px;
  font-weight: 300;
}
.cart_placeholder::placeholder {
  color: #B1B1B1;
  font-size: 18px;
  font-weight: 300;
}
.cart_placeholder:focus::-moz-placeholder, .cart_placeholder:hover::-moz-placeholder {
  color: #656565;
  font-size: 18px;
  font-weight: 400;
}
.cart_placeholder:focus::placeholder, .cart_placeholder:hover::placeholder {
  color: #656565;
  font-size: 18px;
  font-weight: 400;
}
.cart_item {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  width: 75px;
  background: #FFFFFF;
}
.cart_number {
  display: inline-block;
  position: relative;
  width: 100%;
}
.cart_number input[type=number] {
  display: block;
  height: 25px;
  line-height: 32px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.cart_number input[type=number]::-webkit-outer-spin-button, .cart_number input[type=number]::-webkit-inner-spin-button {
  display: none;
}
.cart_number_minus {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  width: 20px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  border-right: 1px solid #ddd;
  font-size: 14px;
  font-weight: 700;
  color: #656565;
}
.cart_number_plus {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: 20px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  border-left: 1px solid #ddd;
  font-size: 14px;
  font-weight: 700;
  color: #656565;
}
.cart_close {
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 22px;
}
.cart_close:hover svg path {
  fill: #F16D7F;
}
.cart_button_flex {
  margin-top: 30px;
  width: 650px;
  display: flex;
  justify-content: space-between;
}
.cart_button {
  width: 235px;
  text-align: center;
  padding: 15px 20px;
  border: 1px solid #A4A4A4;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.cart_button:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #fff;
}
.cart_left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart_form {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding-top: 20px;
}
.cart_input_button {
  margin-top: 20px;
  padding: 10px 10px;
  width: 100px;
  border: 1px solid #A4A4A4;
  background-color: #FFF;
  color: #4A4A4A;
  text-align: center;
  font-size: 11px;
  width: 29%;
}
.cart_input_button:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #fff;
}
.cart_checkout {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 360px;
  height: 215px;
  padding: 40px;
  background-color: #F5F3F3;
}
.cart_checkout h3 {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
  text-align: right;
}
.cart_checkout h3::after {
  content: "$900";
  margin-left: 20px;
}
.cart_checkout h1 {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  text-align: right;
  padding-bottom: 20px;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 20px;
}
.cart_checkout h1::after {
  content: "$900";
  margin-left: 20px;
  font-weight: 700;
  color: #F16D7F;
}
.cart_checkoutbutton {
  font-weight: 300;
  text-align: center;
}

.registration {
  padding-top: 65px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  gap: 3%;
}
.registration__right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 360px;
}
.registration h3 {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.registration__form {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.registration__sort {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
}
.registration__sort p {
  color: #000;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.registration__checkbox + label {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.registration__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.registration__checkbox:checked + label::before {
  border-color: #FF6A6A;
  background-color: #F16D7F;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.registration__text {
  margin-top: 15px;
  color: #B1B1B1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration_checkoutbutton {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
}
.registration_checkoutbutton:hover svg path {
  fill: #fff;
}
.registration__left {
  width: 655px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.registration__left h2 {
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__left p {
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__left li {
  margin-bottom: 16px;
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 20px;
  padding-inline-start: 20px;
}
.registration__left li::marker {
  content: url(' data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none" ><path d="M19.8035 0H18.0904C17.8502 0 17.6222 0.111827 17.4752 0.303176L7.3702 13.2826L2.52481 7.05754C2.45151 6.96318 2.35808 6.88688 2.25153 6.83438C2.14499 6.78187 2.0281 6.75451 1.90963 6.75437H0.196467C0.032258 6.75437 -0.0584248 6.94572 0.0420614 7.07494L6.75503 15.6981C7.06874 16.1006 7.67166 16.1006 7.98782 15.6981L19.9579 0.318087C20.0584 0.191349 19.9677 0 19.8035 0Z" fill="black" /></svg>');
}/*# sourceMappingURL=style.css.map */